<p id="notice"><%= notice %></p>

<p>
  <strong>Flight number:</strong>
  <%= @flight.flight_number %>
</p>

<p>
  <strong>Seats taken:</strong>
  <%= @flight.seats_taken %>
</p>

<p>
  <strong>from:</strong>
  <%= @flight.from %>
</p>

<p>
  <strong>to:</strong>
  <%= @flight.to %>
</p>

<p>
  <strong>Depart date:</strong>
  <%= @flight.depart_date %>
</p>

<p>
  <strong>Reservation obj:</strong>
  <%= @flight.reservation_obj %>
</p>

<p>
  <strong>Airplane:</strong>
  <%= @flight.airplane_id %>
</p>

<p>
  <strong>Reservations:</strong>
  <% @flight.reservations.each do |res| %>
    <a href="/reservations/<%= res.id %>"> <%= res.created_at %> </a>
<% end %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
