<!DOCTYPE html>
<html>
  <head>
    <title>FlightBookingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div style="padding: 10px 0; margin-bottom:20px;">
      <h4>🔥🛩 Burning Airlines Admin</h4>
      <a style="padding:5px; display:inline;" href="/reservations">Reservations</a>
      <a style="padding:5px; display:inline;"  href="/flights">Flights</a>
      <a style="padding:5px; display:inline;"  href="/airplanes">Airplanes</a>
      <a style="padding:5px; display:inline;"  href="/users">Users</a>
      <hr>
    </div>
    <%= yield %>
  </body>
</html>
